[submodule "deps/FastNoise2"]
	path = deps/FastNoise2
	url = https://github.com/Auburn/FastNoise2
	shallow = true

[submodule "deps/fastgltf"]
	path = deps/fastgltf
	url = https://github.com/spnda/fastgltf
	shallow = true

[submodule "deps/bvh"]
	path = deps/bvh
	url = https://github.com/madmann91/bvh/
	shallow = true
